name: CI

on:
  push:
    branches:
      - main
    tags:
      - '*'
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: actions/cache@v5.0.1
      with:
        path: ~/.gradle/caches
        key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*') }}
        restore-keys: |
          ${{ runner.os }}-gradle-
    - uses: actions/setup-java@v5
      with:
        distribution: 'temurin'
        java-version: '17'
    - name: Setup Android problem matchers
      uses: jonasb/android-problem-matchers-action@v1
    - name: Test
      run: ./gradlew test
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: actions/cache@v5.0.1
      with:
        path: ~/.gradle/caches
        key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*') }}
        restore-keys: |
          ${{ runner.os }}-gradle-
    - uses: actions/setup-java@v5
      with:
        distribution: 'temurin'
        java-version: '17'
    - name: Setup Android problem matchers
      uses: jonasb/android-problem-matchers-action@v1
    - name: Lint
      run: ./gradlew lint -PisCI=true
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: actions/cache@v5.0.1
      with:
        path: ~/.gradle/caches
        key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*') }}
        restore-keys: |
          ${{ runner.os }}-gradle-
    - uses: actions/setup-java@v5
      with:
        distribution: 'temurin'
        java-version: '17'
    - name: Setup Android problem matchers
      uses: jonasb/android-problem-matchers-action@v1
    - name: Build
      run: ./gradlew assemble
